<!--<ul class="nav navbar-nav">-->
<!--  <li class="navbar-text">-->
<!--    <span data-translate=""-->
<!--          data-translate-values="{platform: '{{info['system/platform/name']}}', version: '{{info['system/platform/version']}}', subversion: '{{info['system/platform/subVersion']}}'}">-->
<!--      versionDetails</span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="http://geonetwork-opensource.org/">-->
<!--      <span data-translate="">about</span>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="hidden-sm">-->
<!--    <a href="https://github.com/geonetwork/core-geonetwork">-->
<!--      <span class="fa fa-fw fa-github"></span>-->
<!--      <span data-translate="">github</span>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="../../doc/api" title="{{'learnTheApi' | translate}}">API</a>-->
<!--  </li>-->
<!--  <li gn-static-pages-list-viewer data-section="footer" data-language="{{lang}}" />-->
<!--</ul>-->
<!--<ul class="nav navbar-nav" ng-show="getSocialLinksVisible()">-->
<!--  <li class="navbar-text">-->
<!--    <span data-translate="">shareOn</span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="https://twitter.com/share?url={{socialMediaLink | encodeURIComponent}}"-->
<!--       target="_blank"-->
<!--       title="{{'shareOnTwitter' | translate}}"-->
<!--       aria-label="{{'shareOnTwitter' | translate}}">-->
<!--       <span class="fa fa-twitter"></span>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="https://www.facebook.com/sharer.php?u={{socialMediaLink | encodeURIComponent}}"-->
<!--       target="_blank"-->
<!--       title="{{'shareOnFacebook' | translate}}"-->
<!--       aria-label="{{'shareOnFacebook' | translate}}">-->
<!--       <span class="fa fa-facebook"></span>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{socialMediaLink | encodeURIComponent}}"-->
<!--       target="_blank"-->
<!--       title="{{'shareOnLinkedIn' | translate}}"-->
<!--       aria-label="{{'shareOnLinkedIn' | translate}}">-->
<!--      <span class="fa fa-linkedin"></span>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="mailto:?subject={{info.site.name}}&amp;body={{socialMediaLink | encodeURIComponent}}"-->
<!--       target="_blank"-->
<!--       title="{{'shareByEmail' | translate}}"-->
<!--       aria-label="{{'shareByEmail' | translate}}">-->
<!--       <span class="fa fa-envelope-o"></span>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href=""-->
<!--       data-ng-click="getPermalink('', socialMediaLink)"-->
<!--       title="{{'permalink' | translate}}"-->
<!--       aria-label="{{'permalink' | translate}}">-->
<!--      <span class="fa fa-fw fa-link"></span></a>-->
<!--  </li>-->
<!--  &lt;!&ndash;<li>-->
<!--    <a href="rss.search?sortBy=changeDate&georss=simplepoint"-->
<!--       title="{{'rssFeed' | translate}}"-->
<!--       aria-label="{{'rssFeed' | translate}}">-->
<!--      <span class="fa fa-rss"/>-->
<!--    </a>-->
<!--  </li>&ndash;&gt;-->
<!--</ul>-->
<footer class="ecl-footer-core">
  <div class="ecl-container ecl-footer-core__container">
    <section class="ecl-footer-core__section ecl-footer-core__section1"><a href="/example" class="ecl-footer-core__title ecl-link ecl-link--standalone">European Commission website</a>
      <div class="ecl-footer-core__description">This site is managed by the Directorate-General for Communication</div>
    </section>
    <section class="ecl-footer-core__section ecl-footer-core__section2 ecl-footer-core__section--separator">
      <div class="ecl-footer-core__content">More information on:</div>
      <ul class="ecl-footer-core__list ecl-footer-core__list--columns">
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Strategy">Strategy</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link About the European Commission">About the European Commission</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Business, Economy, Euro">Business, Economy, Euro</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link work, travel in the EU">Live, work, travel in the EU</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Law">Law</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Funding, Tenders">Funding, Tenders</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Research and innovation">Research and innovation</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Climate change, Environment">Energy, Climate change, Environment</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Education">Education</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Aid, Development cooperation, Fundamental rights">Aid, Development cooperation, Fundamental rights</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Food, Farming, Fisheries">Food, Farming, Fisheries</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to EU regionaland urban development">EU regional and urban development</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Jobs at the European Commission">Jobs at the European Commission</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Statistics">Statistics</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to News">News</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Events">Events</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Publications">Publications</a></li>
      </ul>
    </section>
    <section class="ecl-footer-core__section ecl-footer-core__section3">
      <ul class="ecl-footer-core__list">
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Contact the European Commission">Contact the European Commission</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-after" aria-label="Link to Follow the European Commission on social media"><span class="ecl-link__label">Follow the European Commission on social media</span>&nbsp;<svg focusable="false" aria-hidden="true" class="ecl-link__icon ecl-icon ecl-icon--xs">
          <use xlink:href="../../catalog/views/inspireportal/images/icons.3cf410f9.svg#ui--external"></use>
        </svg></a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Resources for partners">Resources for partners</a></li>
      </ul>
    </section>
    <section class="ecl-footer-core__section ecl-footer-core__section4">
      <ul class="ecl-footer-core__list">
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Language policy">Language policy</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Cookies">Cookies</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Privacy policy">Privacy policy</a></li>
        <li class="ecl-footer-core__list-item"><a href="/example" class="ecl-footer-core__link ecl-link ecl-link--standalone" aria-label="Link to Legal notice">Legal notice</a></li>
      </ul>
    </section>
  </div>
</footer>
