<!-- EU content -->
<main class="ecl-u-pv-xl">
  <div class="ecl-container" id="maincontainer">
    <div class="ecl-row">
      <div class="ecl-col-sm-12">

        <h2 class="ecl-u-type-heading-2 ecl-u-mt-none ecl-u-mb-l ecl-u-type-color-blue-100 text-center" id="page-title">Welcome to the INSPIRE Geoportal</h2>

        <div id="content">
          <div class="ecl-row ecl-u-mt-m">
            <div class="ecl-col-sm-12 ecl-editor">
              <p class="ecl-card__description">
                The INSPIRE Geoportal is the central European access point to the data provided by EU Member States and several EFTA countries under the INSPIRE Directive.
                The Geoportal allows:
              </p>
              <ul class="ecl-unordered-list">
                <li class="ecl-unordered-list__item margin-top-0">monitoring the availability of INSPIRE data sets;</li>
                <li class="ecl-unordered-list__item margin-top-0">discovering suitable data sets based on their descriptions (metadata);</li>
                <li class="ecl-unordered-list__item margin-top-0">accessing the selected data sets through their view or download services.</li>
              </ul>
              <p class="ecl-card__description">
                The metadata used in the Geoportal are regularly harvested from the discovery services of EU Member States and EFTA countries.
                The status of harvesting is available <a href="harvesting_status.html" class="ecl-link ecl-link--default ecl-u-type-color-blue-100">here</a>.
              </p>
              <p class="ecl-card__description">
                Feedback regarding the functionality as well as data set availability is welcome <a href="mailto:jrc-inspire-support@ec.europa.eu?subject=%5BGeoportal%20Helpdesk%5D" class="ecl-link ecl-link--default ecl-u-type-color-blue-100">here</a>.
              </p>
            </div>
          </div>


          <div class="ecl-row">
            <div class="ecl-col-sm-6 ecl-u-mt-m">
              <article class="ecl-card background-color-white">
                <header class="ecl-card__header text-center ">
                  <a href="hvds_home.html" class="ecl-link ecl-link--standalone ecl-u-type-color-blue-100">
                    <h1 class="ecl-card__title ecl-u-type-color-blue-100">
                      High-Value Datasets
                    </h1>
                    <div class="ecl-card__image image_size" aria-label="card image" role="img"
                         style="background-image:url(images/mapAndTag.png)">
                    </div>
                  </a>
                </header>
                <div class="ecl-card__body">
                  <div class="ecl-card__description">
                    The application provides an overview and access to geospatial high-value datasets and other core data (including priority datasets for eReporting).
                  </div>
                </div>
                <footer class="ecl-card__footer ecl-u-mv-m text-center ">
                  <a class="ecl-button ecl-button--primary" href="hvds_home.html"><i class="fas fa-tags ecl-u-mr-xs"></i> Browse</a>
                </footer>
              </article>
            </div>
            <div class="ecl-col-sm-6 ecl-u-mt-m">
              <article class="ecl-card background-color-white">
                <header class="ecl-card__header text-center ">
                  <a href="tv_home.html" class="ecl-link ecl-link--standalone ecl-u-type-color-blue-100">
                    <h1 class="ecl-card__title ecl-u-type-color-blue-100">
                      INSPIRE Thematic Data
                    </h1>
                    <div class="ecl-card__image image_size" aria-label="card image" role="img"
                         style="background-image:url(images/mapAndLogo.png)"></div>
                  </a>
                </header>
                <div class="ecl-card__body">
                  <div class="ecl-card__description">
                    The application displays the availability and provides access to all EU MS data sets falling
                    under the scope of INSPIRE Directive filtered by data themes and countries (i.e. Annex I, II and III).
                  </div>
                </div>
                <footer class="ecl-card__footer ecl-u-mv-m text-center">
                  <a class="ecl-button ecl-button--primary" href="tv_home.html"><i class="fas fa-th-list ecl-u-mr-xs"></i> Browse</a>
                </footer>
              </article>
            </div>
          </div>

          <div class="ecl-row ecl-u-mt-m">
            <div class="ecl-col-sm-12">
              <article class="ecl-card background-color-white">
                <header class="ecl-card__header text-center ">
                  <h1 class="ecl-card__title ecl-u-type-color-blue-100">
                    <a href="https://inspire.ec.europa.eu/validator/about/" class="ecl-link ecl-link--standalone ecl-u-type-color-blue-100">INSPIRE Reference Validator</a>
                  </h1>
                </header>
                <div class="ecl-card__body">
                  <div class="ecl-card__description">
                    The validator application is to help data providers, solution providers and national coordinators
                    to check whether their data sets, network services and metadata meet the requirements defined in the INSPIRE Technical Guidelines.
                    <br/>
                    The validation tests are based on the Abstract Test Suites agreed
                    between Member States and the Commission in the INSPIRE Maintenance and Implementation Group.
                  </div>
                </div>
                <footer class="ecl-card__footer ecl-u-mv-m text-center">
                  <a class="ecl-button ecl-button--primary" href="//inspire.ec.europa.eu/validator/about">
                    <i class="far fa-play-circle ecl-u-mr-xs"></i> Go to INSPIRE Reference Validator</a>
                </footer>
              </article>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

<!-- original GN content-->

<!-- GN search -->
<div class="row gn-row-main">
  <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
    <div class="col-sm-4 col-sm-offset-6 ng-cloak"
          data-ng-if="showHealthIndexError">
      <div class="alert alert-warning text-center">
        <h3 data-translate="">indexNotAvailable</h3>
        <i class="fa fa-fw fa-cogs fa-3x"/>
      </div>
    </div>
    <div class="col-md-offset-3 col-md-6"
          data-ng-if="!showHealthIndexError">

      <div class="input-group gn-form-any">
        <input type="text"
              class="form-control input-lg"
              autofocus=""
              autocomplete="off"
              data-ng-model="homeAnyField"
              data-ng-model-options="modelOptions"
              placeholder="{{'anyPlaceHolder' | translate}}"
              aria-label="{{'anyPlaceHolder' | translate}}"
              data-ng-keyup="$event.keyCode == 13 && goToSearch(homeAnyField)"
              data-typeahead="address for address in getAnySuggestions($viewValue, searchObj)"
              data-typeahead-template-url="../../catalog/templates/gn-typeahead-match.html"
              data-typeahead-loading="anyLoading"
              data-typeahead-min-length="1"
              data-typeahead-focus-first="false"
              data-typeahead-wait-ms="300"/>
        <span class="input-group-btn">
          <a class="btn btn-primary btn-lg"
              type="button"
              data-ng-disabled="searchInfo.hits.total.value == 0"
              data-ng-href="#/search?any={{homeAnyField}}">
            <i class="fa fa-search"></i>
            <span class="sr-only" data-translate="">search</span>
          </a>
        </span>
      </div>

      <div data-translate="" class="search-over"
          data-translate-values="{records: '{{searchInfo.hits.total.value}}'}">searchOver</div>

    </div>
  </div>
</div>
<!-- /.gn-row-main -->

<form class="form-horizontal"
      role="form"
      data-ng-controller="gnsSearchTopEntriesController"
      data-ng-search-form=""
      data-runSearch="true"
      data-ng-show="searchResults.records.length > 0">
  <div class="row gn-top-records" role="row">
    <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
      <h1 data-translate="">topMaps</h1>

      <input type="hidden" name="_csrf" value="{{csrf}}"/>

      <div data-ng-show="searchResults.records.length > 0"
            data-gn-results-container=""
            class="gn-info-list-blocks"
            data-search-results="searchResults"
            data-template-url="resultTemplate"></div>
    </div>
  </div>
  <!-- /.gn-top-records -->
</form>

<!-- GN no data yet -->
<div class="row" data-ng-show="searchInfo.hits.total.value == 0">
  <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
    <div class="col-md-offset-2 col-md-8 alert alert-warning">
      <span data-translate="">noDataInCatalog</span>
      <div data-gn-need-help="user-guide/quick-start/index.html"></div>
    </div>
  </div>
</div>

<div class="row gn-row-topics"
      data-ng-show="searchInfo.hits.total.value > 0 && searchInfo.aggregations">
  <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
    <div class="col-sm-12 col-md-9" data-ng-show="homeFacet.list.length > 0">
      <h4>
        <span data-translate="">browseBy</span>
        <span>
          <label data-ng-repeat="facetKey in homeFacet.list"
                  data-ng-init="agg = searchInfo.aggregations[facetKey]"
                  data-ng-show="agg.buckets.length > 0 && facetKey != homeFacet.lastKey">
            <input type="radio" name="homeFacet"
                    data-ng-model="homeFacet.key"
                    data-ng-value="facetKey"/>
            <span data-translate="">{{::('facet-' + facetKey) | facetKeyTranslator}}</span>&nbsp;
          </label>
        </span>
      </h4>
      <div class="row">
        <span data-ng-show="homeFacet.key !== 'inspireThemeUri'"
              data-ng-init="aggResponse = searchInfo.aggregations[homeFacet.key]"
              data-ng-repeat="facet in searchInfo.aggregations[homeFacet.key].buckets"
              class="col-xs-12 col-sm-6 col-md-4 chips-card">
          <div class="badge-result badge-result-topic clearfix">
            <a class="pull-left clearfix"
              title="{{facet.key}}"
              role="link"
              data-ng-init="field = (aggResponse.meta && aggResponse.meta.field) || homeFacet.key"
              data-ng-href='#/search?query_string={"{{field}}": {"{{facet.key}}": true} }'>

              <!-- TODOES Link label to icons? -->
              <span class="badge-icon badge-result-topic pull-left">
                <i class="fa fa-3x gn-icon gn-icon-{{facet.key.replace('/', '').replace(' ', '')}}"
                    data-ng-show="homeFacet.key === 'cl_topic.key' || homeFacet.key === 'cl_hierarchyLevel.key'">
                </i>
              </span>
              <span class="badge-text pull-left">
                <span class="gn-icon-label">{{facet.key | facetTranslator: homeFacet.key | capitalize}}</span>
              </span>
            </a>
            <span class="badge pull-left">{{facet.doc_count}}</span>
          </div>
        </span>
        <!-- TODOES Sort alpha -->
        <span data-ng-repeat="(key, facet) in searchInfo.aggregations.inspireThemeUri.buckets"
              data-ng-show="homeFacet.key === 'inspireThemeUri'"
              data-ng-init="code = facet.key.slice(facet.key.lastIndexOf('/')+1)"
              class="col-xs-12 col-sm-6 col-md-4 chips-card">
          <div class="badge-result badge-result-inspire clearfix">
            <a class="pull-left clearfix bg-iti-{{::code}}"
              data-ng-href='#/search?query_string={"inspireThemeUri": {"{{facet.key}}": true} }'>
              <span class="badge-icon pull-left">
                <i class="fa fa-3x gn-icon iti-{{::code}}"></i>
              </span>
              <span class="badge-text pull-left inspire-{{::code}}-{{iso2lang}}">
                <span class="full inspire-label"></span>
              </span>
            </a>
            <span class="badge pull-left">{{facet.doc_count}}</span>
          </div>
        </span>
      </div>
    </div>
    <div class="col-sm-12 col-md-3"
          data-ng-show="searchInfo.aggregations[homeFacet.lastKey].buckets.length > 0">
      <h4>
        <span data-translate="">{{('facet-' + homeFacet.lastKey) | facetKeyTranslator}}</span>
      </h4>
      <div class="row">
          <span data-ng-repeat="(key, facet) in searchInfo.aggregations[homeFacet.lastKey].buckets"
                data-ng-show="facet.key"
                class="col-xs-12 col-sm-6 col-md-12 chips-card">
            <div class="badge-result badge-result-type pull-left">
              <a title="{{facet.key}}"
                class="pull-left clearfix"
                data-ng-href='#/search?query_string={"{{homeFacet.lastKey}}": {"{{facet.key}}": true} }'>
                <span class="badge-icon pull-left">
                  <i class="fa fa-3x gn-icon gn-icon-{{facet.key.replace('/', '').replace(' ', '')}}"
                      data-ng-show="homeFacet.lastKey === 'topic_text' || homeFacet.lastKey === 'cl_hierarchyLevel.key'">
                  </i>
                </span>
                <span class="badge-text pull-left">
                  <span class="gn-icon-label">{{facet.key | facetTranslator: homeFacet.key | capitalize}}</span>
                </span>
              </a>
              <span class="badge pull-left">{{facet.doc_count}}</span>
            </div>
          </span>
      </div>
    </div>
  </div>
</div>
<!-- /.gn-row-topics -->

<div class="row gn-row-info"
      data-ng-show="searchInfo.hits.total.value > 0"
      data-ng-class="{'gn-info-list-blocks': type === 'blocks' || type === undefined, 'gn-info-list-large': type === 'large', 'gn-info-list-small': type === 'small'}">
  <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
    <div class="col-sm-12">

    <!-- toggle buttons -->
    <div id="info-toggle-buttons" class="btn-group pull-right" data-toggle="buttons">
      <button id="btn-toggle-blocks" type="button" class="btn btn-default"
              data-ng-click="toggleListType('blocks')"
              data-ng-model="type"
              data-ng-class="{'active': type === 'blocks' || type === undefined}"
              aria-label="{{'listTypeBlocks' | translate}}">
        <i class="fa fa-th-large" aria-hidden="true"></i>
      </button>
      <button id="btn-toggle-large" type="button" class="btn btn-default"
              data-ng-click="toggleListType('large')"
              data-ng-model="type"
              data-ng-class="{'active': type === 'large'}"
              aria-label="{{'listTypeLarge' | translate}}">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <button id="btn-toggle-small" type="button" class="btn btn-default"
              data-ng-click="toggleListType('small')"
              data-ng-model="type"
              data-ng-class="{'active': type === 'small'}"
              aria-label="{{'listTypeSmall' | translate}}">
        <i class="fa fa-align-justify" aria-hidden="true"></i>
      </button>
    </div>

    <tabset id="info-tabset pull-left" type="pills" justified="false" role="tablist">
      <tab heading="{{'lastRecords' | translate}}"
            role="tab"
            active="infoTabs.lastRecords.active">
        <form class="form-horizontal"
              role="form"
              data-ng-controller="gnsSearchLatestController"
              data-ng-search-form=""
              data-runSearch="true"
              data-ng-show="searchResults.records.length > 0">
            <input type="hidden" name="_csrf" value="{{csrf}}"/>

          <div data-gn-info-list=""></div>
        </form>
      </tab>
      <tab heading="{{'preferredRecords' | translate}}"
            role="tab"
            active="infoTabs.preferredRecords.active">
        <form class="form-horizontal"
              role="form"
              data-ng-controller="gnsSearchPopularController"
              data-ng-search-form=""
              data-runSearch="true"
              data-ng-show="searchResults.records.length > 0">
            <input type="hidden" name="_csrf" value="{{csrf}}"/>
          <div data-gn-info-list=""></div>
        </form>
      </tab>
      <tab heading="{{'featuredUserSearches' | translate}}"
            data-ng-if="isUserSearchesEnabled && displayFeaturedSearchesPanel"
            role="tab"
            active="infoTabs.featuredSearches.active">
        <form class="form-horizontal">
          <div data-gn-user-searches-list></div>
        </form>
      </tab>
      <tab heading="{{'Comments' | translate}}"
            data-ng-if="isUserFeedbackEnabled"
            active="infoTabs.commentsalt.active"
            role="tab">
        <form class="form-horizontal">
          <div class="data-gn-userfeedbacklasthome"
                data-nb-of-comments="10"></div>
        </form>
      </tab>
    </tabset>
    </div>
  </div>
</div>
<!-- /.gn-row-info -->
